body{}
header{width:100%;height:80px;top:0px;left:0px;position:fixed;}


#titre-site{
width:150px;
font-size:50px;
color:#4535EB;
font-weight:bold;
position:fixed;
}


nav{
position:fixed;
width:100%;
height:80px;
top:0px;
left:0px;z-index:4;
background-color:black;
}


nav ul{position:relative;left:300px;}
	
nav ul li{

display:inline-block;
width:150px;
height:60px;
text-align:center;

}	

nav ul li a{
color:white;
font-size:20px;
text-decoration:none;

}	

nav ul li a:hover{
color:white;
font-size:20px;
text-decoration:underline;

}

#divConnexion{width:350px;height:60px;background-color:white;position:fixed;z-index:4;right:70px;top:5px;}
.scrollTo.selected{
color:red;
text-decoration:underline;
}
#divInfo{background-color:grey;width:400px; height:50px;position:fixed;z-index:4;top:100px;left:300px;}

.section-page{
width:900px;height:700px;}

#section1{
width:100%;
height:700px;

/*background-image:url(images/picvoiturenuit.jpg);*/
}

#section2{
width:100%;
height:700px;
/*background-image:url(images/buga.jpg);*/
}

#section3{
width:100%;
height:700px;

}
#section4{
width:100%;
height:700px;

}

footer{background-color:black;position:fixed;height:90px;width:100%;top:600px;left:0px;}