body{}

#titre-site{
position:relative;
top:20px;
left:90px;
font-size:60px;
color:#4535EB;
font-weight:bold;
}
#sous-titre{
position:relative;
top:20px;
left:90px;
font-size:24px;
color:#7D7D7D;
}

nav{
position:fixed;
width:700px;
height:80px;
top:0px;
left:0px;z-index:4;

}

nav ul{}
	
nav ul li{
position:relative;
top:0px;
left:400px;
display:inline-block;
width:150px;
height:80px;
text-align:center;
border-right:2px solid white;
}	

nav ul li a{
color:blue;
font-size:20px;
text-decoration:none;

}	

nav ul li a:hover{
color:black;
font-size:20px;
text-decoration:none;

}
.scrollTo.selected{
color:red;

}
.section-page{
width:900px;height:700px;}


#section1{

width:700px;
color: blue;

}

#section2{

width:700px;


}


#section3{

height:100px;


}
#section4{

height: section4;


}
